.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.add-news-form {
    margin-top: 20px;
}

.add-news-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-news-form input[type="text"],
.add-news-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-button:hover {
    background-color: #27ae60;
}
