{% extends "news/base.html" %}

{% block title %} 
    Add News
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_for_add_news.css' %}">
{% endblock %}

{% block content %} 
    <div class="container" style="background-image: url('{% static "news/images/c.jpg" %}');">
        <a class="back-button" href="{% url 'news:main' %}">Back</a>
        <form class="add-news-form" action="{% url 'news:interface_adding' %}" method="post">
            {% csrf_token %}
            <h1 class="add-news-heading">Add News</h1>
            {{ news_add_form.as_p }}
            
            <button class="add-button" type="submit">Add News</button>
        </form>
    </div>
{% endblock %}
