{% extends "news/base.html" %}

{% block title %} 

Change news

{% endblock %}

{% block header %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_add_news.css' %}">
    
{% endblock %}

{% block content %} 
    
    <a class="back-button" href="{% url 'news:all_news' %}">Back</a>
    <form action="{% url 'news:change_data_of_news' news_id %}" method="post">
        {% csrf_token %}
        <h1>Change news</h1>
        {{ news_change_form }}
        
        <input type="submit" value="Change">
    </form>

{% endblock %}



