{% extends "news/base.html" %}

{% block title %} 
Change News
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_for_change.css' %}">
{% endblock %}

{% block content %} 
    <div class="container" style="background-image: url('{% static "news/images/d.jpg" %}');">
        <a class="back-button" href="{% url 'news:all_news' %}">Back</a>
        <form class="change-news-form" action="{% url 'news:change_data_of_news' news_id %}" method="post">
            {% csrf_token %}
            <h1 class="change-news-heading">Change News</h1>
            {{ news_change_form.as_p }}
            
            <button class="change-button" type="submit">Change News</button>
        </form>
    </div>
{% endblock %}
