{% extends "news/base.html" %}

{% block title %} 
    NEWS
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/styl.css' %}">
{% endblock %}

{% block content %} 
    <div class="container">
        <a href="{% url 'news:main' %}" class="back-link">← Back</a>
        <h1 class="news-list-heading">Список всех новостей:</h1>
        <ul class="news-list">
            {% for new in news %}
            <li class="news-item">
                <div class="news-content">
                    <a href="{% url 'news:info_news' new.id %}" class="news-link">
                        {{ new.title }} by {{ new.author_of_news }}
                    </a>
                    {% if new.author_of_news == user or perms.news.delete_news %}
                        <a href="{% url 'news:delete_news' new.id new.author_of_news.pk %}" class="delete-link">Delete</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
