{% extends "news/base.html" %}

{% block title %} 

    NEWS

{% endblock %}

{% block header %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_get_all.css' %}">
    
{% endblock %}

{% block content %} 
    
    <a href="{% url 'news:main' %}">Back</a>
    <h1>Список всех новостей:</h1>
    <ul>
        {% for new in news %}
        <li>
            <a href="{% url 'news:info_news' new.id %}">
                {{ new.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}


