{% extends "news/base.html" %}

{% block title %} 

    Information about news

{% endblock %}

{% block header %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_info_news.css' %}">
    
{% endblock %}

{% block content %} 
    
    <a href="{% url 'news:all_news' %}">Back</a>
    <br>
    <a href="{% url 'news:change_data_of_news' news.id %}">Изменить новость</a>
    <h1>Information about news</h1>
    <h2>Title:</h2>
    <p>{{news.title}}</p>
    <h2>Content:</h2>
    <p>{{news.content}}</p>
    <h2>Created at:</h2>
    <p>{{news.created_at}}</p>

    <form action="{% url 'news:info_news' news.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Add a comment..." required>
        <input type="submit" value="Add comment">
    </form>

    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
        <li>
            <p>Comment: {{comment.content}}</p>
            <p>Created at: {{comment.created_at}}</p>
        </li>
        {% endfor %}
    </ul>

{% endblock %}



