{% extends "news/base.html" %}

{% block title %} 

    Information about news

{% endblock %}

{% block header %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% endblock %}

{% block head %}

    <h1>Information about news</h1>

{% endblock %}

{% block content %} 
    
    <ul class="nav-links">
        <li><a href="{% url 'news:interface_adding' %}">Добавить новость</a></li>
        <li><a href="{% url 'news:all_news' %}">Новости</a></li>
    </ul>

{% endblock %}

