{% extends "news/base.html" %}

{% block title %} 
    Information about News
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block head %}
    <h1 class="info-heading">Information about News</h1>
{% endblock %}

{% block content %} 
    <div class="nav-container" style="background-image: url('{% static "news/images/b.jpg" %}');">
        <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a href="{% url 'news:profile' %}" class="nav-link">Profile</a></li>
                <li class="user-welcome">Welcome, {{ user.first_name }} {{ user.last_name }}</li>
                <li><a href="{% url 'news:interface_adding' %}" class="nav-link">Add News</a></li>
                <li><a href="{% url 'news:all_news' %}" class="nav-link">News</a></li>
                <li><a href="{% url 'news:logout' %}" class="nav-link">Logout</a></li>
            {% else %}
                <li><a href="/login/" class="nav-link">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
