{% extends "news/base.html" %}


{% block title %} 

    Войти

{% endblock %}

{% block header %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_add_news.css' %}">
    
{% endblock %}

{% block content %} 
        
    <form action="/login/" method="post">
        {% csrf_token %}

        {{ form }}

        <p><input type="submit" value="Login"></p>

        <p>
            <a class="back-button" href="{% url 'news:sign_up' %}">Создать аккаунт</a>
        </p>
    </form>
    

{% endblock %}