{% extends "news/base.html" %}


{% block title %} 

    Войти

{% endblock %}

{% block header %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style_add_news.css' %}">
    
{% endblock %}

{% block content %} 
        
    <form action="{% url 'news:sign_up' %}" method="post">
        {% csrf_token %}

        <p>{{ form.username.label_tag }}</p>
        <p>{{ form.username }}</p>

        <p>{{ form.email.label_tag }}</p>
        <p>{{ form.email }}</p>

        <p>{{ form.first_name.label_tag }}</p>
        <p>{{ form.first_name }}</p>

        <p>{{ form.last_name.label_tag }}</p>
        <p>{{ form.last_name }}</p>

        <p>{{ form.password1.label_tag }}</p>
        <p>{{ form.password1 }}</p>

        <p>{{ form.password2.label_tag }}</p>
        <p>{{ form.password2 }}</p>

        <p><input type="submit" value="Создат аккаунт"></p>

        <p>
            <a class="back-button" href="/login">login</a>
        </p>
    </form>
    

{% endblock %}